 .app-container{
  display: flex;
}
.content{
  width: 100%;
}
.sideBar{
  height: 800px;
}
.write-Post{
   margin: 20px;
}
.tags-styles{
  margin: 3px;
}
.reactions{
  margin: 15px 0 0 0;
  width:100%;
}
.creat-post{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}